<div th:fragment="footer">
<footer>
    <p>Projekt lavet med ❤️ af gruppe 8</p>
    <ul class="contact-info-list">
        <li class="contact-info-list-item">
            <a href="mailto:masc1001@stud.ek.dk">Mail: masc1001@stud.ek.dk</a>
        </li>
        <li class="contact-info-list-item">
            <a href="mailto:marb0011@stud.ek.dk">Mail: marb0011@stud.ek.dk</a>
        </li>
        <li class="contact-info-list-item">
            <a href="mailto:mary0004@stud.ek.dk">Mail: mary0004@stud.ek.dk</a>
        </li>
        <li class="contact-info-list-item">
            Tlf. 12345678
        </li>
        <li class="contact-info-list-item">
            Sted: København
        </li>
    </ul>
</footer>
</div>