<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/main.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/attractions/save}" th:object="${newAttraction}" method="post">
    <h1>Tilføj turistattraktion</h1>

    <label for="name">Fulde navn</label>
    <input id="name" th:field="${newAttraction.name}">

    <label for="description">Beskrivelse</label>
    <input id="description" th:field="${newAttraction.description}">

    <label for="city">By</label>
    <select name="city" id="city" th:field="*{city}">
            <option value="">--Please select--</option>
            <option th:each="type : ${optionCities}" th:value="${type}" th:text="${type}">Glostrup</option>
    </select>

    <label for="tags">Tags</label>
    <fieldset id="tags">
        <div th:each="option : ${optionTags}">
            <label>
                <input type="checkbox" th:field="*{tags}" th:value="${option}"/>
            </label>
        </div>
    </fieldset>

    <button type="submit">Opret</button>
    <a th:href="@{/attractions}">Fortryd</a>
</form>
</body>
</html>