<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/main.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title th:text="${attractionByName.name}"></title>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main>
    <form th:action="@{'/attractions/' + ${attractionByName.name} + '/delete'}" th:object="${attractionByName}"  method="post">
        <input type="hidden" th:field="*{name}">
        <h1 th:text="${attractionByName.name}"></h1>
        <h2 th:text="${attractionByName.description}"></h2>
            <button type="submit">Slet</button>
        <a th:href="@{'/attractions/' + ${attractionByName.name} + '/tags'}">Tags</a>
        <a href="/">Hovedside</a>
    </form>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>