<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/main.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Turistattraktioner</h1>
<table>
    <thead>
    <tr>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>By</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="touristattraction: ${attractions}">
        <td th:text="${touristattraction.name}"></td>
        <td th:text="${touristattraction.description}"></td>
        <td th:text="${touristattraction.city}"></td>

        <td><a th:href="@{'/attractions/' + ${touristattraction.name} + '/edit'}">Opdater</a></td>
        <td><a th:href="@{'/attractions/' + ${touristattraction.name} + '/delete'}">Slet</a></td>
        <td><a th:href="@{'/attractions/' + ${touristattraction.name} + '/tags'}">Tags</a></td>

    </tr>
    </tbody>
</table>
<a href="/attractions/add">Tilføj attraktion</a>
<a href="/">Hovedside</a>
</body>
</html>