<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<link rel="stylesheet" href="../static/style.css">

<h1>Turist Guide</h1>

<p> Danmark </p>
<p>En guide der beskriver fire turist attraktioner i Danmark</p>

<h2>Links:</h2>

<nav>
    <ul class="navbar">
        <li><a href="/attractions">Attraktioner overordnet</a></li>
        <li><a href="/attractions/Water Park">Vand park</a></li>
        <li><a href="/attractions/Amusement Park">Forlystelses park</a></li>
        <li><a href="/attractions/Museum">Museum</a></li>
        <li><a href="/attractions/Royal Garden">Royal have</a></li>
    </ul>
</nav>

<p>Galleri</p>
<img src="../static/Vand%20park.jpg" width="300" height="200" alt="">
<img src="../static/Tivoli.jpg" width="300" height="200" alt="">
<img src="../static/Museum.jpg" width="300" height="200" alt="">
<img src="../static/Royal%20Have.jpg" width="300" height="200" alt="">

<footer>
    <p>Telefon: 11223344</p>
    <p><a href="">turistguide@example.com</a></p>
</footer>

</body>
</html>