<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/main.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/attractions/update}" th:object="${attractionByName}"  method="post">
    <h1>Opdater turistattraktion</h1>

    <input type="hidden" th:field="*{name}">

    <label for="description">Beskrivelse</label>
    <input type="text" id="description" th:field="*{description}" required>

    <label for="city">By</label>
    <select name="city" id="city" th:field="*{city}">
        <option value="">--Please select--</option>
        <option th:each="type : ${optionCities}" th:value="${type}" th:text="${type}"></option>
    </select>

    <label for="tags">Tags</label>
    <fieldset id="tags">
        <div th:each="option : ${optionTags}">
            <label>
                <input type="checkbox" th:field="*{tags}" th:value="${option}"/>
            </label>
        </div>
    </fieldset>

    <button type="submit">Opdater</button>
    <a th:href="@{/attractions}">Fortryd</a>
</form>
</body>
</html>